
      html {
          min-height: 100%;
          background: white;
          margin:3%;
          text-align: center;
      }
  
      h1 {
          font-size: 2.5em;
          
          color: cornflowerblue;
      }
      h2 {
          border-bottom: 3px solid cornflowerblue;
      }
      code {
          font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
          background:honeydew;
          color: black;
          word-wrap: break-word;
      }
      ul li, ol li {
        line-height:140%; 
      }
      table {
        
          border-collapse: collapse;
          background:rgba(255,255,255,0.4);
      }
      th,
      td {
        
          border: 1px solid #000;
          padding: 0.75rem;
          text-align: center;
      }
      th {
        text-align: center;
          font-weight: bold;
          white-space: nowrap;
          background: cornflowerblue;
          color: #fff;
      }
      tr:first-of-type th:not(:last-child) {
          border-right-color: transparent;
      }
      tr:first-child th:first-child,
      tr:not(:first-child):not(:last-child) th {
          border-bottom-color: transparent !important;
      }